<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Vincule seu arquivo CSS externo -->
    <link href="styles.css" rel="stylesheet">
    

    <title>Formulário de Cadastro de Cliente</title>
</head>

<body>



    <main role="main">

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/imginicial10.jpg" class="d-block w-100" alt="">
                    <div class="carousel-caption text-start">
                        <h1>Agende sua consulta sem sair de casa</h1>
                        <p></p>
                        <p><a class="btn btn-lg btn-primary" href="#">Conheça os nossos dentista cadastrados</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/imginicial8.jpg" class="d-block w-100" alt="Second Slide">
                    <div class="carousel-caption">
                        <h1>Cadastre Agora.</h1>
                        <p></p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/imginicial9.jpg" class="d-block w-100" alt="Second Slide">
                    <div class="carousel-caption">
                        <h1>Cadastre Agora.</h1>
                        <p></p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
                <!-- Adicione mais slides de carrossel conforme necessário -->
            </div>
        </div>

        <div class="container mt-5">
            <div class="row d-flex flex-column">
                <div class="mb-3">
                    <div class="d-flex flex-row align-items-center">
                        <img src="/img/imginicial12.jpg" class="img-fluid mr-1 imagem-pequena" alt="Image 1">
                        <div class="texto1">
                            <p>"Com o avanço da tecnologia, agendar uma consulta odontológica nunca foi tão fácil e conveniente. O agendamento online oferece uma solução ágil e eficiente para pacientes que desejam cuidar da saúde bucal. Esqueça as longas esperas ao telefone ou as idas presenciais à clínica. Com apenas alguns cliques, você pode marcar sua consulta odontológica a qualquer hora do dia ou da noite, de qualquer lugar. A agilidade do agendamento online não apenas economiza seu tempo valioso, mas também permite que você escolha o horário que melhor se adapte à sua agenda lotada. Não importa se você está no trabalho, em casa ou em movimento, agendar uma consulta agora é simples, rápido e ao alcance dos seus dedos.".</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-flex flex-row align-items-center">
                        <img src="/img/imginicial11.jpg" class="img-fluid mr-6" alt="Image 2">
                        <div class="text-right">
                            <p>


                                "Agendar consultas odontológicas online é rápido e fácil. Com apenas alguns cliques, você pode marcar sua consulta a qualquer hora, de qualquer lugar. Simplificando sua vida e garantindo acesso rápido aos cuidados odontológicos de que você precisa."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Bootstrap JS e dependências -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>

</html>
