<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/1b12f943-5410-4cca-859d-355adba28762/resourceGroups/Eassydentalmvc20231011110735ResourceGroup/providers/Microsoft.ContainerRegistry/registries/Eassydentalmvc20231011110735</ResourceId>
    <ResourceName>Eassydentalmvc20231011110735</ResourceName>
    <ResourceGroup>Eassydentalmvc20231011110735ResourceGroup</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>eassydentalmvc20231011110735.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ProjectGuid>7f27c8a3-25c4-4d7a-a848-76c396c371ed</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>