@model Eassydentalmvc.Models.Cliente

@{
    ViewData["Title"] = "Cadastro Cliente";
}

<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nome:</label>
                    <input asp-for="Name" class="form-control" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email:</label>
                    <input asp-for="Email" class="form-control" required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Telefone" class="form-label">Telefone:</label>
                    <input asp-for="Telefone" class="form-control" required>
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="@Url.Action("Create", "Dentistas")" class="btn btn-secondary">Cadastro Dentista</a>
                <a href="/" class="btn btn-secondary">Voltar</a>

            </form>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <!-- A classe d-none oculta a imagem em telas pequenas, d-md-block faz com que ela apareça em telas médias e maiores -->
            <img src="https://via.placeholder.com/300x300" class="img-fluid" alt="Imagem">
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
